
@font-face {
    font-family: UDDigi;
    src: url(../Ozora-Hotel/font/UDDigiKyokashoN-B.ttc);
}
@font-face {
    font-family: Musashi;
    src: url(../Ozora-Hotel/font/A-OTF-MusashiStd-Regular.otf);
}
@font-face {
    font-family: Midashi;
    src: url(../Ozora-Hotel/font/A-OTF-MidashiGoPro-MB31.otf);
}
@font-face {
    font-family: HGR;
    src: url(../Ozora-Hotel/font/HGRPRE.TTC);
}
#wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;   
    background-color:#8dbfff; 
}
.title img{
    height: auto;
    max-width: 1440px;
}
.text{
    font-size: 25px;
    color: #ffff;
    top: 9%;
    left: 28%;
    position: absolute;
    text-shadow: -1px -1px 0 #000000;
    font-family: Midashi;
}
.famplan-bg{
    background-image: url(img/Background\ 1.jpg);
    background-repeat: no-repeat;
    position: relative; 
    z-index: 2;
}
#flower1{
    float: left;
    margin-top: -180px;
}
#flower2{
    float: right;
    margin-top: -173px;
}
.famplan{
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    min-height: 1820;
    max-width: 1440px;
}
.sp-famplan{
    display: none;
} 
.sp-flower{
    display: none;
}
.swiper{
    max-width: 1220;
    max-height: 1000;
}
.swiper-slide{
    text-align: center;
}
.swiper-slide img{
    object-fit: cover;
}
.swiper-slide p{
max-width: 900;
margin: auto;
margin-bottom: 30px;
font-family: Musashi;
}
.swiper-bg{
    background-color: white;
    padding: 30px 30px;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.swiper-button-next, .swiper-button-prev{
    --swiper-navigation-size: 50px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;    
}
.swiper-pagination{
    width: 8px;
    margin: 8px;
}
.famplan1 p{
    position: absolute;
    padding: 70px;
    font-size: 25px;
    text-align: center;
    margin-left: 20%;
    margin-top: 0%;
    line-height: 30px;
    letter-spacing: 3px;
    color: #000000;
    font-family: UDDigi;
}
.fam-button1 {
    position: absolute;
    padding: 70px;
    margin-left: 24%;
    margin-top: 5%;
}
.sp-fambutton1{
    display: none;
}
.sp-box1{
    display:none;
}
.sp-fambutton2{
    display: none;
}
.sp-box2{
    display:none;
}
.famplan2 p{
    position: absolute;
    padding: 70px;
    font-size: 25px;
    text-align: center;
    margin-left: 20%;
    margin-top: 0%;
    line-height: 30px;
    letter-spacing: 3px;
    color: #000000;
    font-family: UDDigi;
}
.fam-button2 {
    position: absolute;
    padding: 70px;
    margin-left: 24%;
    margin-top: 5%;
}
.childplan-bg{
    background-color: #f2e8de;
    background-repeat: repeat;
    position: relative;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    min-height: 1645;
    max-width: 1440px;
}
.cp-text{
    font-family: Musashi;
    color: #0b2282;
    padding: 10px;
    text-align: center;
    margin-top: 0px;
    font-size: 25px;
    line-height: 30px;
}
.cp p{
    position: absolute;
    padding: 70px;
    font-size: 25px;
    text-align: center;
    margin-left: 27%;
    margin-top: 0%;
    line-height: 30px;
    letter-spacing: 3px;
    color: #000000;
    font-family: UDDigi;
}
.cp-button {
    position: absolute;
    padding: 70px;
    margin-left: 20%;
    margin-top: 2%;
}
.sp-childplan{
    display:none;
}
.sp-cpimage{
    display: none;
}
.sp-cpbutton{
    display: none;
}
.sp-cpbox{
    display:none;
}
.camp{
    background-color: #8dbfff;
    background-repeat: repeat;
    position: relative;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    min-height: 1820;
    max-width: 1440px;
}
.camp-desc{
    font-family: Musashi;
    color: #2f0000;
    padding: 10px;
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
    line-height: 30px;
}
.camp-plan1 p{
    position: absolute;
    padding: 70px;
    font-size: 25px;
    text-align: center;
    margin-left: 13%;
    margin-top: 0%;
    line-height: 30px;
    letter-spacing: 3px;
    color: #17427d;
    font-family: HGR;
}
.camp-plan2 p{
    position: absolute;
    padding: 70px;
    font-size: 25px;
    text-align: center;
    margin-left: 13%;
    margin-top: 0%;
    line-height: 30px;
    letter-spacing: 3px;
    color: #17427d;
    font-family: HGR;
}
.sp-camptitle{
    display:none;
}
.sp-cbx1{
    display: none;
}
.sp-cmbutton1{
    display: none;
}
.sp-cbx2{
    display: none;
}
.sp-cmbutton2{
    display: none;
}
.sp-beach{
    display:none;
}
.buffet-bg{
    background-image: url(img/buffet\ bg.jpg);
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}
.buffet{
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    min-height: 2122;
    max-width: 1440px;
}
.buffet-desc{
    font-family: HGR;
    color: #0b082d;
    padding: 50px;
    line-height: 30px;
    font-size: 25px;
}
.rating p{
    font-family: HGR;
    color: #0b082d;
    padding: 50px;
    line-height: 30px;
    font-size: 25px;
    margin-top: 0%;
}
.sp-bft{
    display: none;
}
.rating-sp{
    display: none;
}
.plans{
    background-image: url(img/bg\ 4.jpg);
    background-repeat: no-repeat;
    position: relative;
    min-height: 435px;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    max-width: 1440px;
}
.button{
    text-align: center;
    font-family: Midashi;
    background-color: #fffcb4;
    border-color: white;
    border-radius: 12px;
    width: 619px;
    height: 122px;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
    box-shadow: 0 12px 16px 0 rgba(240, 146, 83, 0.685),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-container{
    position:relative;
    font-size: 18px;
    line-height: 25px;
}

#jal{
    position: absolute;
    display: flex;
    margin-left: 70px;
}

#ana{
    position: absolute;
    display: flex;
    margin-left: 750px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!MEDIA RULE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!MEDIA RULE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!MEDIA RULE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!MEDIA RULE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!MEDIA RULE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!MEDIA RULE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media only screen and (max-width:1440px){
    body{
        max-width: 375px;
        background-color: white;
        box-sizing: border-box;
        margin: 0 auto;
    }
    #wrapper {
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
        position: relative;   
        background-color:#8dbfff}
    
    .title img{
        height: auto;
        width: 375px;
    }
    .text{
        font-size: 10px;
        color: #ffff;
        top: 8.5%;
        left: 15%;
        position: absolute;
        text-shadow: -1px -1px 0 #000000;
        font-family: Midashi;
    }
    #sp-flower1{
        float: left;
        margin-top: -70px;
    }
    #sp-flower2{
        float: right;
        margin-top: -70px;
    }
    .famplan{
        position: relative;
        z-index: 2;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        min-height: 470px;
        max-width: 375px;
    }
    #title-famplan{
        display: none;
    }
    .sp-famplan{
        display: block;
        margin-top: -5px;
    }
    #sp-titlefam{
        margin-top: 25px;
    }
    .flower{display:none;
    }
    .sp-flower{
        display:block;
    }
    .container{
        margin-top: -40px;
    }
    .swiper{
        max-width: 331;
        max-height: 248;
    }
    .swiper-slide{
        text-align: center;
    }
    .swiper-slide img{
        object-fit: cover;
        width:299px;
        height:186px;
    }
    .swiper-slide p{
    margin: auto;
    font-size: 10px;
    font-family: Musashi;
    margin-bottom: 30px
    }
    .swiper-bg{
        background-color: white;
        padding: 20px 20px;
        width: 75%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    .swiper-button-next, .swiper-button-prev{
            --swiper-navigation-size: 20px;
            --swiper-navigation-top-offset: 50%;
            --swiper-navigation-sides-offset: 10px;    
    }
    .swiper-pagination{
        width: 2px;
        margin: 10px;
        margin-left: -1px;
    }
    .sp-box1{
        margin-top:20px;
    }
    .famplan1 p{
        position: absolute;
        padding: 65px;
        font-size: 8px;
        text-align: center;
        margin-left: 5%;
        margin-right: 0px;
        margin-top: -60px;
        line-height: 12px;
        letter-spacing: -1px;
        color: #000000;
        font-family: UDDigi;
        z-index: 2;
    }
    .sp-fambutton1{
        padding: 27px;
        z-index: 2;
        margin-left: 25%;
        margin-top: 1%;
        position: absolute;
    }
    .fam-button1{
        display: none;
    }
    .sp-fambutton1{
        display:block;
    }
    .sp-box1{
        display:block;
        position: relative;
    }
    .box1{
        display: none;
    }
    .sp-box2{
        margin-top:10px;
    }
    .famplan2 p{
        position: absolute;
        padding: 65px;
        font-size: 8px;
        text-align: center;
        margin-left: 5%;
        margin-right: 0px;
        margin-top: -60px;
        line-height: 12px;
        letter-spacing: -1px;
        color: #000000;
        font-family: UDDigi;
        z-index: 2;
    }
    .sp-fambutton2{
        padding: 27px;
        z-index: 2;
        margin-left: 25%;
        margin-top: 1%;
        position: absolute;
    }
    .fam-button2{
        display: none;
    }
    .sp-fambutton2{
        display:block;
    }
    .sp-box2{
        display:block;
        position: relative;
    }
    .box2{
        display: none;
    }
    .childplan-bg{
        background-color: #f2e8de;
        background-repeat: repeat;
        position: relative;
        z-index: 2;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        min-height: 428px;
        max-width: 375px;
    }
    #sp-cptitle{
        margin-top: 10px;
    }
    .cp-text{
        font-family: Musashi;
        color: #0b2282;
        padding: 5px;
        text-align: center;
        margin-top: 0px;
        font-size: 8px;
        line-height: 11px;
    }
    .sp-cpbox{
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .cp p{
        padding: 70px;
        font-size: 10px;
        text-align: center;
        margin-left: 5%;
        margin-top: -56px;
        line-height: 10px;
        letter-spacing: 1px;
        color: #000000;
        font-family: UDDigi;
        z-index: 2;
    }
    .sp-cpbutton {
        padding: 0px;
        z-index: 2;
        margin-left: 28%;
        margin-top: 30px;
        position: absolute;
    }
    #cp-title{
        display:none;
    }
    .childplan-image{
        display:none;
    }
    .sp-childplan{
        display:block;
    }
    .sp-cpimage{
        display: block;
        margin-top: 5px;
    }
    .cp-button{
        display:none;
    }
    .cp-box{
        display:none;
    }
    .sp-cpbutton{
        display: block;
    }
    .sp-cpbox{
        display:block;
        position: relative;
    }
    .camp{
        background-color: #8dbfff;
        background-repeat: repeat;
        position: relative;
        z-index: 2;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        min-height: 726px;
        max-width: 375px;
    }
    .sp-camptitle{
        margin-top: 0px;
    }
    .camp-desc{
        font-family: Musashi;
        color: #2f0000;
        padding: 10px;
        text-align: center;
        margin-top: 0px;
        font-size: 9px;
        line-height:15px;
    }
    .camp-plan1 p{
        position: absolute;
        padding: 70px;
        font-size: 9px;
        text-align: center;
        margin-left: 5px;
        margin-top: -18%;
        line-height: 10px;
        letter-spacing: -1px;
        color: #17427d;
        font-family: HGR;
        z-index: 2;
    }
    .camp-plan2 p{
        position: absolute;
        padding: 70px;
        font-size: 9px;
        text-align: center;
        margin-left: 5px;
        margin-top: -18%;
        line-height: 10px;
        letter-spacing: -1px;
        color: #17427d;
        font-family: HGR;
        z-index: 2;
    }
    #camp-title{
        display: none
    }
    .sp-camptitle{
        display:block;
    }
    .sp-cbx1{
        display: block;
    }
    .sp-cmbutton1{
        display: block;
    }
    .sp-cbx2{
        display: block;
    }
    .sp-cmbutton2{
        display: block;
    }
    .child-box1{
        display: none;
    }
    .child-button1{
        display: none;
    }
    .child-box2{
        display: none;
    }
    .child-button2{
        display: none;
    }
    .beach-decor{
        display: none;
    }
    .sp-beach{
        display:block;
    }
    .buffet{
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        min-height: 530;
        max-width: 375x;
    }
    .buffet-desc{
        font-family: HGR;
        color: #0b082d;
        padding: 7px;
        text-align: center;
        margin-top: -5px;
        font-size: 9px;
        line-height:10px;
    }
    .rating p{
        font-family: HGR;
        color: #0b082d;
        padding: 7px;
        text-align: center;
        margin-top: -5px;
        font-size: 8px;
        line-height:15px;
        letter-spacing: -1px;
    }
    .sp-bft{
        display: block;
    }
    .rating-sp{
        display: block;
    }
    #buffet-title{
        display: none;
    }
    .rating-image{
        display: none;
    }
    .button-container{
        position:relative;
        font-size: 18px;
        line-height: 25px;
    }
    .plans{
        background-image: url(img/bg\ 4.jpg);
        background-repeat: no-repeat;
        position: relative;
        min-height: 150px;
        z-index: 2;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        max-width: 375px;
    }
    .button{
        text-align: center;
        font-family: Midashi;
        background-color: #fffcb4;
        border-color: white;
        border-radius: 12px;
        width: 156px;
        height: 32px;
        font-size: 10px;
        font-weight: bold;
        padding-left: 10px;
        box-shadow: 0 5px 7px 0 rgba(240, 146, 83, 0.685),0 17px 50px 0 rgba(0,0,0,0.19);
    }
    #cupon{
        margin-top: -10px;
    }
    #jal{
        position: absolute;
        margin-left: 113px;
        margin-top: -35px;
    }
    
    #ana{
        position: absolute;
        margin-left: 113px;
        margin-top: 10px;
    }
}